<div class="file-wrapper" *ngFor="let file of example.files">
  <pre>
      <code highlight [code]="concatCode(file)" [language]="[file.language]"></code>
  </pre>
  <div class="inputs">
    <mat-form-field *ngFor="let input of filterForInputs(file)">
      <mat-label>{{input.id}}</mat-label>
      <textarea matInput
          [(ngModel)]="input.value"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
  </div>
</div>
