.app {
  display: grid;
  grid-template-columns: 300px 1fr;
  max-height: 100%;
  width: 100%;
}

app-sidebar {
  padding: 10px 5px 10px 10px;
  overflow-y: scroll;
  height: calc(100vh - 20px);
}

app-main-area {
  padding: 10px 10px 10px 5px;
  overflow-y: scroll;
  height: calc(100vh - 20px);
}
