<h1 class="title">LibAssist</h1>

<mat-accordion class="accordion">
  <mat-expansion-panel *ngFor="let library of state.libs; let lLib = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{library.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sections">
      <mat-nav-list>
        <a mat-list-item *ngFor="let section of library.sections; let sLib = index" (click)="selectItem(lLib, sLib)">
          <h3 mat-line>{{section.title}}</h3>
        </a>
      </mat-nav-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>